body {
    background-color:cyan;
    text-align: center;
    font-family:Georgia;
}




h1 {
    font-weight:bold;
}


#Elvis-pic {
    height: 1935px;
    width: 1500px;
}

#El-Camino-pic {
    height: 1086px;
    width: 1629px;
}