body {
    background-color:cyan;
    text-align: center;
    font-family:Georgia; 
}




h1 {
    font-weight:bold;
}

h2 {
    font-weight:bold;
}

#about-elvis {
    border: 2px solid black;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#Elvis-pic {
    height: 1935px;
    width: 1500px;
}

#El-Camino-pic {
    height: 1086px;
    width: 1629px;
}

.p-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: red;
    background-color: red;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}