#title {
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    color: red;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 5px solid yellow;
}


body {
    background-color:cyan;
    text-align: center;
    font-family:Georgia; 
}




h1 {
    font-weight:bold;
}

h2 {
    font-weight:bold;
}

#about-elvis {
    border: 2px solid black;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#Elvis-pic {
    border: 10px solid brown;
    border-radius: 10px;
    margin: auto;
    width: 1000px;
    height: auto;
}

#El-Camino-pic {
    border: 10px solid brown;
    border-radius: 10px;
    margin: auto;
    width: 1000px;
    height: auto;
}

.p-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: red;
    background-color: red;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}