* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.table {
  border: 5px solid black;
}

table {
  border: 5px solid black;
  margin: 0 auto;
}

table th, table td {
  padding: 1px;
  border: 1px solid black;
}



@media screen and (max-width: 500px) {
  table {
    width: 100%;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  table {
    font-size: 9px;
  }
}


